<div class="container">
    <hr>
    <p style="font-size: 18px;">Please enter your Github username to get your information.</p>
    <form class="search">
        <input type="text" placeholder="Search.." id="search" name="search">
        <button type="submit" (click)="search"><i class="fa fa-search"></i></button>
    </form>
    <br><br>

    <div class="row">
        <div class="col-md-6">
            <img src="https://avatars3.githubusercontent.com/u/439365?v=4" alt="profile">
            {{response.avatar_url}}
        </div>
        <div class="col-md-6" >
            <p>Name:{{response.Name}}</p>
            <p>Email:{{response.Email}}</p>
            <p>Bio:{{response.Bio}}</p>
            <p>Location:{{response.Location}}</p>
            <p>Company:{{response.Company}}</p>
            <p>Repositories:{{response.Repositories}}</p>
        </div>
    </div>
</div>
