<div class="container">
    <hr>
    <p style="font-size: 18px;">Please enter your Github username to get your information.</p>
    <form class="search">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <br><br>

    <div class="row">
        <div class="col-md-6">
            <img src="https://avatars3.githubusercontent.com/u/439365?v=4" alt="profile">
            {{gitUser.avatar_url}}
        </div>
        <div class="col-md-6" >
            <p>Name:{{gitUser.Name}}</p>
            <p>Email:{{gitUser.Email}}</p>
            <p>Bio:{{gitUser.Bio}}</p>
            <p>Location:{{gitUser.Location}}</p>
            <p>Company:{{gitUser.Company}}</p>
            <p>Repositories:{{gitUser.Repositories}}</p>
        </div>
    </div>
</div>
