<div class="container">
    <hr>
    <p style="font-size: 18px;">Please enter your Github username to get your information.</p>
    <form class="search">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <br><br>

    <div class="row" *ngFor='let user of infos;let i = index'>
        <div class="col-md-6">
            <img src="https://avatars3.githubusercontent.com/u/439365?v=4" alt="profile">
            {{user.avatar_url}}
        </div>
        <div class="col-md-6" >
            <p>Name:{{user.Name}}</p>
            <p>Email:{{user.Email}}</p>
            <p>Bio:{{user.Bio}}</p>
            <p>Location:{{user.Location}}</p>
            <p>Company:{{user.Company}}</p>
            <p>Repositories:{{user.Repositories}}</p>
        </div>
    </div>
</div>
